.table {
    width: 60% !important;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.matches-table tbody tr:hover {
    cursor: pointer;
}

.title {
    text-align: center;
}

.data-container {
    padding-top: 50px;
}
